.UserDetails{ padding: 10% 10%}
.info{         background-color: coral;
    width: 60%;
    margin-left: 47%;
    height: 400px;
    text-align: right;
text-shadow: 2px 2px grey}
 /* .name-user{    background-color: white;width: 41%;}  */
.name-user img{ border-radius: 50%; width: 150px; height: 150px; border: 4px solid white;     padding: 1%; }