.UserDetails{ padding-left: 35%; padding-top: 5%;}
.container.portfolio{ width:80%; height: 500px;}

.portfolio{
    padding:6%;
    text-align:center;
}
.heading{
    background: #fff;
    padding: 1%;
    text-align: left;
    box-shadow: 0px 0px 4px 0px #545b62;
}
.heading img{
    width: 5%;
    height: 30px;
}
.bio-info{
    padding: 5%;
    background:#fff;
    box-shadow: 0px 0px 4px 0px #b0b3b7;
}
.name{
    font-family: 'Charmonman', cursive;
    font-weight:600;
}
.bio-image{
    text-align:center;
}
.bio-image img{
    border-radius:50%;
    width: 150px; height: 150px;
}
.bio-content{
    text-align:left;
}
.bio-content p{
    font-weight:600;
    font-size:30px;
}
.title {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    color: #404040;
}
.bottom .btn{    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 15px; }
    .btn.btn-sm .fa {
        font-size: 35px; text-align: center !important; }
  